.form-group-icon>i {
    position: absolute;
    color: rgba(0, 0, 0, .54);
    left: 0;
    bottom: calc(0.375rem - 1px);
  }
  
  i.material-icons {
    padding-left: 10px;
    padding-right: 30px;
  }
  
  .form-group-icon-choose {
    position: relative;
  }