/* You can add global styles to this file, and also import other style files */
/* import boostrap to project */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    font-family: 'Roboto', sans-serif;
  }

  h1 {
    font-family:  'Comfortaa', sans-serif;
    font-weight: 700;
    font-style: italic;
  }


  p {
    font-family:  'Comfortaa', sans-serif;
    font-weight: 500;
  }

  input{
    font-family:  'Comfortaa', sans-serif;
    font-weight: 300;
  }